/*
 * application.less
 * by @hushaw
 * http://hushaw.github.io
 */
body {
  font-family: "PT Serif", Georgia, "Microsoft YaHei", Arial, sans-serif;
  background: url("/static/img/bg.png") repeat fixed;
}
li.L4 {
  list-style-type: none;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #eee;
  box-shadow: 4px 4px 4px #888;
  padding: 4px;
  overflow: auto;
}
::selection {
  background: #c3e99e;
  text-shadow: none;
}
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
}
.page-container {
  max-width: 1000px;
  margin: 0 auto;
  background: url("/static/img/25.png") repeat fixed;
}
.page-heading {
  border-top: 2px solid #bbb;
  padding-bottom: 10px;
  position: relative;
  z-index: 9999;
}
.page-brand {
  margin: 0 7.5%;
  display: block;
}
.page-brand h1 {
  padding: 1.05em 0 0;
}
.page-brand h1 a {
  color: #111;
  font-size: 28px;
  font-weight: bold;
  font-family: Consolas, Monaco, 'Courier New', Courier, 'Andale Mono', 'DejaVu Sans Mono', monospace !important;
  line-height: 32px;
  text-decoration: none;
}
.page-brand h2 {
  color: #7a7a7a;
  font-size: 18px;
  margin: 1em 0 1.25em;
}
.page-navbar {
  margin: 0 auto 6px;
  overflow: hidden;
  background: #000;
}
.page-navbar .page-navbar-container {
  margin: 0 7.5%;
}
.page-navbar .page-navbar-container .page-nav {
  font-size: 13px;
  list-style: none;
  margin: 0 0 0 -10px;
  padding-left: 0;
}
.page-navbar .page-navbar-container .page-nav li {
  float: left;
  position: relative;
}
.page-navbar .page-navbar-container .page-nav a {
  color: #eee;
  display: block;
  line-height: 3.5em;
  padding: 0 1.25em;
  text-decoration: none;
}
.page-navbar .page-navbar-container .page-nav a:hover,
.page-navbar .page-navbar-container .page-nav a:focus {
  color: #222;
  background: #fff;
}
.page-article {
  margin: 0 7.5%;
  width: auto;
}
.page-header {
  padding-bottom: 10px;
  margin: 30px 0 20px;
  border-bottom: 1px solid #bbb;
}
.page-header h2 {
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
}
.page-content {
  border-bottom: 1px dashed #aaa;
  margin: 0 0 1.5em;
  padding: 0 0 1.5em;
  position: relative;
}
.page-content .post-heading {
  color: #222;
  text-decoration: none;
  clear: both;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.15em;
  padding-bottom: .5em;
  padding-top: 12px;
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
}
.page-content .post-heading a {
  color: #222;
  text-decoration: none;
}
.page-content .post-meta {
  color: #666;
  clear: both;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid #d5d5d5;
  padding: .5em;
}
.page-content .post-meta span {
  margin-right: 4px;
  vertical-align: middle;
}
.page-content .post-meta a {
  font-weight: 500;
}
.page-content .post-entry {
  padding: 1.5em 0 0;
  font-size: 14px;
}
.page-content .post-entry blockquote p {
  font-size: 15px;
}
.page-content .post-footer {
  clear: both;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 35px;
}
.page-footer {
  border-top: 1px solid #ddd;
  color: #555;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5em;
  padding: 1.5em .5em;
  text-align: center;
}
.page-footer a {
  color: #1982d1;
}
.page-footer .page-generator-time {
  padding: 0 3px;
  font-size: 12px;
  color: #fff;
  background-color: #428bca;
}
.page-list h3 {
  color: #428bca;
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
}
.page-list ul {
  font-size: 15px;
  list-style: square;
  margin-bottom: 15px;
}
.page-list ul li {
  margin: 4px;
}
.page-list ul li span {
  color: #555;
  font-weight: 500;
  line-height: 1.2em;
}
.page-list ul li span:after {
  content: "»";
  margin: 0 10px;
}
.page-list ul li a {
  color: #222;
  padding: 2px;
}
.page-list ul li a:hover,
.page-list ul li a:focus {
  color: #333;
  border-radius: 1px;
}
.page-blank {
  margin: 1em 0 1.5em;
  padding: 0 0 1.5em;
  position: relative;
}
.read-more {
  background: #d4dad8;
  display: inline-block;
  margin-top: 10px;
  padding: .4em .8em;
  text-decoration: none;
  float: right;
}
.read-more a {
  color: #222;
  text-decoration: none;
}
.read-more:hover,
.read-more:focus {
  background: #428bca;
}
.read-more:hover a,
.read-more:focus a {
  color: #fff;
}
.post-pager {
  margin-bottom: 5px;
  border-bottom: 1px dashed #aaa;
}
.pager {
  list-style: none;
}
.pager li a {
  border: none;
  border-radius: 0;
  background: transparent;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5em;
  color: #1982d1;
  text-decoration: none;
}
.pager li a:hover,
.pager li a:focus {
  color: #fff;
  background: #c3e99e;
}
.page-pagination {
  text-align: center;
}
.page-pagination .pagination li a {
  font-size: 14px;
  font-weight: 500;
  color: #1982d1;
  text-decoration: none;
}
.page-pagination .pagination li span {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  background: transparent;
}
.page-pagination .pagination li a.active {
  color: #1982d1;
  text-decoration: underline;
}
.page-pagination .pagination li a:hover,
.page-pagination .pagination li a:focus {
  color: #fff;
  background-color: #428bca;
}
.page-tags {
  margin: 15px 0 35px;
  padding: 10px 0 25px;
  border-bottom: 1px solid #aaa;
}
.page-tags a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
}
.page-tags a span {
  vertical-align: super;
  font-size: 0.75em;
}
.page-tags a:hover,
.page-tags a:focus {
  color: #fff;
}
.bbg{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		overflow:hidden;
		padding:0;
		margin:0;
		z-index:-6;
}
/*bubbles*/
	
	.popo{position:absolute;opacity:0;visibility:hidden;background:#eee;box-shadow:0 0 6px rgba(0,0,0,0.2) inset;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
	
	#popo1{-webkit-animation:move6 80s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move6 80s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move6 80s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo2{-webkit-animation:move2 60s cubic-bezier(0.3,0.3,0.2,0.2) 1s infinite alternate;-moz-animation:move2 60s cubic-bezier(0.3,0.3,0.2,0.2) 1s infinite alternate;animation:move2 60s cubic-bezier(0.3,0.3,0.2,0.2) 1s infinite alternate;}
	#popo3{-webkit-animation:move3 50s cubic-bezier(0.1,0.1,0.2,0.2) 1s infinite alternate;-moz-animation:move3 50s cubic-bezier(0.1,0.1,0.2,0.2) 1s infinite alternate;animation:move3 50s cubic-bezier(0.1,0.1,0.2,0.2) 1s infinite alternate;}
	#popo4{-webkit-animation:move4 60s cubic-bezier(0.2,0.2,0.1,0.1) 1s infinite alternate;-moz-animation:move4 60s cubic-bezier(0.2,0.2,0.1,0.1) 1s infinite alternate;animation:move4 60s cubic-bezier(0.2,0.2,0.1,0.1) 1s infinite alternate;}
	#popo5{-webkit-animation:move5 120s cubic-bezier(0.3,0.3,0.2,0.2) 1s infinite normal;-moz-animation:move5 120s cubic-bezier(0.3,0.3,0.2,0.2) 1s infinite normal;animation:move5 120s cubic-bezier(0.3,0.3,0.2,0.2) 1s infinite normal;}
	#popo6{-webkit-animation:move1 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move1 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move1 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo7{-webkit-animation:move2 80s cubic-bezier(0.1,0.1,0.1,0.1) 1s infinite alternate;-moz-animation:move2 80s cubic-bezier(0.1,0.1,0.1,0.1) 1s infinite alternate;animation:move2 80s cubic-bezier(0.1,0.1,0.1,0.1) 1s infinite alternate;}
	#popo8{-webkit-animation:move1 90s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move1 90s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move1 90s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo9{-webkit-animation:move2 100s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move2 100s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move2 100s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	
	#popo10{-webkit-animation:move1 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move1 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move1 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo11{-webkit-animation:move2 60s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move2 60s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move2 60s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo12{-webkit-animation:move4 80s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move4 80s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move4 80s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo13{-webkit-animation:move1 100s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move1 100s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move1 100s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo14{-webkit-animation:move2 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move2 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move2 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo15{-webkit-animation:move1 60s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move1 60s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move1 60s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo16{-webkit-animation:move1 100s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move1 100s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move1 100s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	#popo17{-webkit-animation:move2 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;-moz-animation:move2 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;animation:move2 50s cubic-bezier(0.2,0.2,0.3,0.3) 1s infinite alternate;}
	
	@-webkit-keyframes move1{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.1;}
		30%{opacity:0.16;-webkit-transform:translate(80px,80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.18;-webkit-transform:translate(140px,160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.24;-webkit-transform:translate(240px,260px) scale(2) rotate(20deg);}
	}
	@-moz-keyframes move1{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.1;}
		30%{opacity:0.16;-moz-transform:translate(80px,80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.18;-moz-transform:translate(140px,160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.24;-moz-transform:translate(240px,260px) scale(2) rotate(20deg);}
	}
	@keyframes move1{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.1;}
		30%{opacity:0.16;transform:translate(80px,80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.18;transform:translate(140px,160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.24;transform:translate(240px,260px) scale(2) rotate(20deg);}
	}
	
	@-webkit-keyframes move2{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;-webkit-transform:translate(-80px,-80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;-webkit-transform:translate(-140px,-160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;-webkit-transform:translate(-240px,-260px) scale(2) rotate(20deg);}
	}
	@-moz-keyframes move2{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;-moz-transform:translate(-80px,-80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;-moz-transform:translate(-140px,-160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;-moz-transform:translate(-240px,-260px) scale(2) rotate(20deg);}
	}
	@keyframes move2{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;transform:translate(-80px,-80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;transform:translate(-140px,-160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;transform:translate(-240px,-260px) scale(2) rotate(20deg);}
	}
	
	@-webkit-keyframes move3{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;-webkit-transform:translate(-80px,80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;-webkit-transform:translate(-140px,160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;-webkit-transform:translate(-240px,260px) scale(2) rotate(20deg);}
	}
	@-moz-keyframes move3{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;-moz-transform:translate(-80px,80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;-moz-transform:translate(-140px,160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;-moz-transform:translate(-240px,260px) scale(2) rotate(20deg);}
	}
	@keyframes move3{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;transform:translate(-80px,80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;transform:translate(-140px,160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;transform:translate(-240px,260px) scale(2) rotate(20deg);}
	}
	
	@-webkit-keyframes move4{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;-webkit-transform:translate(80px,-80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;-webkit-transform:translate(140px,-160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;-webkit-transform:translate(240px,-260px) scale(2) rotate(20deg);}
	}
	@-moz-keyframes move4{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;-moz-transform:translate(80px,-80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;-moz-transform:translate(140px,-160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;-moz-transform:translate(240px,-260px) scale(2) rotate(20deg);}
	}
	@keyframes move4{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;transform:translate(80px,-80px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;transform:translate(140px,-160px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;transform:translate(240px,-260px) scale(2) rotate(20deg);}
	}
	
	@-webkit-keyframes move5{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;-webkit-transform:translate(0,-200px) scale(1.5) rotate(3deg);}
		30%{opacity:0.06;-webkit-transform:translate(0,-300px) scale(1.8) rotate(5deg);}
		50%{opacity:0.1;-webkit-transform:translate(0,-400px) scale(2.2) rotate(10deg);}
		100%{opacity:0.17;-webkit-transform:translate(0,-800px) scale(4) rotate(20deg);}
	}
	@-moz-keyframes move5{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;-moz-transform:translate(0,-200px) scale(1.5) rotate(3deg);}
		30%{opacity:0.06;-moz-transform:translate(0,-300px) scale(1.8) rotate(5deg);}
		50%{opacity:0.1;-moz-transform:translate(0,-400px) scale(2.2) rotate(10deg);}
		100%{opacity:0.17;-moz-transform:translate(0,-800px) scale(4) rotate(20deg);}
	}
	@keyframes move5{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;transform:translate(0,-200px) scale(1.5) rotate(3deg);}
		30%{opacity:0.06;transform:translate(0,-300px) scale(1.8) rotate(5deg);}
		50%{opacity:0.1;transform:translate(0,-400px) scale(2.2) rotate(10deg);}
		100%{opacity:0.17;transform:translate(0,-800px) scale(4) rotate(20deg);}
	}
	
	@-webkit-keyframes move6{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;-webkit-transform:translate(60px,20px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;-webkit-transform:translate(100px,40px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;-webkit-transform:translate(160px,80px) scale(2) rotate(20deg);}
	}
	@-moz-keyframes move6{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;-moz-transform:translate(60px,20px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;-moz-transform:translate(100px,40px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;-moz-transform:translate(160px,80px) scale(2) rotate(20deg);}
	}
	@keyframes move6{
		0%{opacity:0;visibility:visible;}
		2%{opacity:0.04;}
		30%{opacity:0.06;transform:translate(60px,20px) scale(1.5) rotate(5deg);}
		50%{opacity:0.1;transform:translate(100px,40px) scale(1.6) rotate(10deg);}
		100%{opacity:0.17;transform:translate(160px,80px) scale(2) rotate(20deg);}
	}
	
@media (max-width: 992px) {
  .page-container {
    margin: 0 auto;
  }
}
